:root {
    --primary-color: #fce7cc;
    --secondary-color: #364a8b;
    --accent1-color: #2c2c2c;
    --accent2--color: #eee;
    --heading-font: sans-serif;
    --body-font: Arial;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    padding: 2rem;
}

nav {
    grid-column: 3/4;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    flex: 1 1 auto;
}

.section-history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    align-items: center;
}

.section-history img {
    width: 225px;
    height: auto;
}

.figure-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;


}

.figure-images img {
    width: 125px;
    height: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
    align-items: center;
}

section h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 30px gray;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.7;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    box-shadow: 0 0 30px #000;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent2--color);
}

.hero article img {
    float: right;
    width: 125px;
}

.company-info {
    text-align: center;
    margin: .5rem;
    padding: .5rem;
}

.company-info h1 {
    color: var(--secondary-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.map {
    margin-left: 1rem;
}
.form-item, .form-checkbox {
    display: block;
    margin: .8rem;
    padding: .5rem;
}

.form-item input {
    padding: .3rem;
    width: 350px;
}

.form-radio {
    display: flex;
    align-items: center;
}

.radio-group-container {
    display: flex;
    flex-direction: column;
}

.radio-group {
    padding: .2rem;
}

button {
    width: 350px;
    grid-column: 2/3;
    padding: .5rem;
    margin-left: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--accent2--color);
    border-radius: .3rem;
}

textarea {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 70px;
}

input [type="text"] {
    width: 400px;
}

section .employees img {
    width: 125px;
    height: auto;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

.hero-home {
    position: relative;
}

.hero-home img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-home h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 70px;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    opacity: 0.7;
}

.hero-home article li {
    position: absolute;
    right: 130px;
    top: 120px;
    padding: 7px;
    text-align: center;
    background-color: var(--accent2--color);
    border-radius: .3rem;
    list-style: none;
}

.hero-home article li a {
    color: var(--secondary-color);
    font-weight: bold;
}

.hero-home article p {
    position: absolute;
    width: 100%;
    top: 110px;
    left: 120px;
    color: var(--accent2--color);
}

.sign-up-section {
    background-color: var(--accent2--color);
    padding: 15px;
}

.newsletter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sign-up-section img {
    width: 300px;
    height: auto;
    margin-top: 12px;
    margin-left: 25px;
}

.offering-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.home-image img {
    width: 200px;
    height: auto;
}

.home-image figure {
    text-align: center;
    color: var(--secondary-color);
}

.home-paragraph {
    text-align: center;
    color: var(--accent1-color);
}

.trip-header {
    text-align: center;
    padding: 2rem;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.trip-header p {
    color: var(--accent2--color);
}

.trip-description {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.trip-description img {
    width: 250px;
    height: auto;
}

.easy-image {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-content: center;
    align-items: center;
    background-color: var(--accent2--color);
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 0 30px #000;
    border-radius: .5rem;
}

.intermediate-image {
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
    align-content: center;
    justify-items: right;
    text-align: right;
    background-color: var(--primary-color);
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 0 30px #000;
    border-radius: .5rem;
}

.intermediate-image img {
    grid-area: 1/2;
}

.hard-image {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 2rem;
    margin: 1rem;
    color: var(--accent2--color);
    box-shadow: 0 0 30px #000;
    border-radius: .5rem;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--accent1-color);
    letter-spacing: 1px;
    font-size: 1rem;
    margin-top: 2rem;
}

table caption {
    padding: 1rem;
    font-weight: bold;
}

thead, tfoot {
    background-color: var(--accent1-color);
    color: var(--accent2--color);
}

th, td {
    border: 2px solid #8a8a8a;
    padding: 10px;
}

td {
    background-color: var(--accent2--color);
}

.link-section {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    background-color: var(--accent2--color);
    padding: 1rem;
}

.link-section img {
    width: 380px;
    height: auto;
    margin-bottom: 2rem;
}

.question-link li a {
    color: var(--accent2--color);
}

.question-link li {
    list-style: none;
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: .5rem;
    border: 1px solid var(--accent1-color);
}

.question-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 12px;
}


